# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/
ENV/

# IDE files
.idea/
.vscode/

# Pytest
.pytest_cache/
report.html

# Distribution / build
dist/
build/